@charset "UTF-8";

body {
    background-color: rgb(61, 154, 230);
    font: normal 15pt Arial;
}
header {
    color: white;
    text-align: center;
}
section {
background-color: white;
border-radius: 10px;
padding: 10px;
width: 500px;
margin: auto;
box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.493);
}
footer {
    color: white;
    text-align: center;
    font-style: italic;
}